<h1 style="text-align: center;">Тестовое задание для IntellSoft</h1>
<table>
    <colgroup>
        <col span="1" style="width: 27%;">
        <col span="1" style="width: 27%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
    </colgroup>
    <thead>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Год рождения</th>
      <th>Телефон</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of answer?.users">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td style="text-align: center;">{{ user.birthyear }}</td>
        <td>
            <ul>
                <li *ngFor="let phone of user.phones">{{ phone.phoneNumber }}</li>
            </ul>
        </td>
      </tr>
    </tbody>
  </table>
  